<div class="jumbotron jumbotron-fluid bg-warning text-white">
    <div class="container">
        <h1 class="display-4 sombra">Best {{category}}</h1>
        <hr class="my-2">
        <p class="lead">{{categoryDescription}}</p>
    </div>
</div>
<div class="container-fluid mb-5 pt-5 trans-back" ngxUiLoaderBlurred>
    <div class="card-columns">
        <div class="card text-center border-secondary" *ngFor="let movie of movies$ | async">
                <img [src]="movie.winnerdata?.Poster || '../assets/img/no-image.png'" class="card-img-top" [alt]="movie.fwinner[0]">
            <div class="card-header h-10 bg-secondary">
                <h5 class="card-title">{{movie.award}}</h5>
                <span class="badge badge-primary">{{movie.categorytit}}</span>
                </div>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item" [class.bg-success]="movie.fwinner[0] === p" *ngFor="let p of movie.fnominees; let i = index">
                    <div>
                        <span *ngIf="movie.categorycod === 'foreign'"><span class="flag-icon" [ngClass]="movie.categorycod === 'foreign' ? flags.get(movie.pnominees[i]) : ''"></span>&nbsp;&nbsp;</span>
                        <br *ngIf="movie.categorycod === 'foreign'">
                        <a (click)="open(content, p)" style="cursor:pointer;" placement="top" ngbTooltip="View Movie Info">{{p}}</a>
                    </div>
                    <span *ngIf="movie.pnominees[i]" class="badge badge-warning text_badge">{{movie.pnominees[i]}}</span>
                    <div>
                        <a *ngIf="movie.winnerdata?.Youtube && movie.fwinner[0] === p" (click)="openTrailerModal(movie.winnerdata?.Youtube)" style="cursor: pointer;"><img src="../assets/img/youtube.jpg" width="24" alt="Trailer" title="View Trailer"></a>
                        <a *ngIf="movie.winnerdata?.Netflix && movie.fwinner[0] === p" [href]="movie.winnerdata?.Netflix" target="_blank"style="cursor: pointer;"><img src="../assets/img/netflix.png" width="32" alt="Netflix" title="View on Netflix"></a>
                    </div>
                </li>
            </ul>    
        </div>  
    </div>   
<!-- <div class="container-fluid mb-5" ngxUiLoaderBlurred>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
        <div class="col mb-4" *ngFor="let movie of movies$ | async">
            <div class="card text-center border-secondary" >
                    <img [src]="movie.winnerdata?.Poster || '../assets/img/nominee.png'" class="card-img-top" [alt]="movie.fwinner[0]">
                <div class="card-header h-10 bg-secondary">
                    <h5 class="card-title">{{movie.award}}</h5>
                    <span class="badge badge-primary">{{movie.categorytit}}</span>
                    </div>
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" [class.bg-success]="movie.fwinner[0] === p" *ngFor="let p of movie.fnominees; let i = index">
                        <a (click)="open(content, $event.target.innerText)" style="cursor:pointer;" placement="top" ngbTooltip="View Movie Info">{{p}}</a><br>
                        <span class="badge badge-warning">{{movie.pnominees[i]}}</span>
                    </li>
                </ul>    
            </div>
        </div>
    </div> -->
</div> 
<ngx-ui-loader fgsColor="SlateGray" fgsType="rectangle-bounce-pulse-out-rapid"></ngx-ui-loader>
<ng-template #content let-modal>
    <div class="modal-header bg-secondary">
        <h4 class="modal-title" id="modal-basic-title">Movie Info</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h2 class="text-center">{{movie.Title}}</h2>
        <h3 *ngIf="!movie.Title" class="text-center">Movie Info No Available</h3>
        <div class="text-center">
            <img [src]="movie.Poster || '../assets/img/nominee.png'" style="width: 65%;" class="img-fluid" [alt]="movie.Title">
        </div>
        <br>
        <table class="table table-hover" id="documentos">
            <tr >
                <td class="celda-titulo">
                    Year: 
                </td>
                <td >
                    {{ movie.Year }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Released: 
                </td>
                <td >
                    {{ movie.Released }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Run Time: 
                </td>
                <td >
                    {{ movie.Runtime }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Country: 
                </td>
                <td >
                    {{ movie.Country }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Actors: 
                </td>
                <td >
                    {{ movie.Actors }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Director: 
                </td>
                <td >
                    {{ movie.Director }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Writer: 
                </td>
                <td >
                    {{ movie.Writer }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Production: 
                </td>
                <td >
                    {{ movie.Production }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Genre: 
                </td>
                <td >
                    {{ movie.Genre }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Plot: 
                </td>
                <td >
                    {{ movie.Plot }}
                </td>
            </tr>
            <tr >
                <td class="celda-titulo">
                    Ratings: 
                </td>
                <td >
                    <ng-container *ngFor="let rating of movie.Ratings; let i = index">
                        <div>
                            <img [src]="critics[i]" style="width: 25px;">&nbsp;<span>{{rating.Source}} </span>&nbsp;<span class="badge badge-danger"> {{rating.Value}}</span>
                        </div>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td class="celda-titulo">
                    Trailer: 
                </td>
                <td>
                    <a [href]="movie.Youtube" style="cursor: pointer;" target="_blank"><img src="../assets/img/youtube.jpg" alt="Trailer" width="32"></a>
                </td>
            </tr>
        </table>
    </div>
    <ngx-ui-loader fgsColor="SlateGray" loaderId="loader-movie" fgsType="rectangle-bounce-pulse-out-rapid"></ngx-ui-loader>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>