<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div >
        <img [src]="images[0]" class="d-block img-fluid" (loaded)="imgLoaded1()" [hidden]="hidImage1">
        </div>
        <div class="carousel-caption" [hidden]="hidImage1">
        <h1 class="sombra1">Film Awards Season</h1>
        <p class="font-weight-bold sombra1">Film awards season is an annual time period between November and February every year, in the United States, where a majority of important film award events take place.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div >
        <img [src]="images[1]" class="d-block img-fluid" (loaded)="imgLoaded2()" [hidden]="hidImage2">
        </div>
        <div class="carousel-caption" [hidden]="hidImage2">
            <h1 class="sombra2">Film Awards Season</h1>
            <p class="font-weight-bold sombra2">In October ballots are sent out to voters, to collect nominations for the first award ceremonies, which are usually the Hollywood Awards or the independent Gotham Awards, to begin awards season in November.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div >
        <img [src]="images[2]" class="d-block img-fluid" (loaded)="imgLoaded3()" [hidden]="hidImage3">
        </div>
        <div class="carousel-caption" [hidden]="hidImage3">
        <h1 class="sombra3">Film Awards Season</h1>
        <p class="font-weight-bold sombra3">The season usually culminates in the Academy Awards in late February or early March </p>
        </div>
    </ng-template>
</ngb-carousel>
<ngx-ui-loader fgsColor="SlateGray" fgsType="rectangle-bounce-pulse-out-rapid"></ngx-ui-loader>
<section class="mt-5">
    <div class="row featurette m-2">
        <div class="col-md-6 order-md-2 col-lg-4  text-center">
            <h2 class="featurette-heading">The World of Movie Awards. <span class="text-muted">2019-2020 Season.</span></h2>
            <p class="lead">Discover the movies, actors, directors, producers, and other professionals in the film industry who have been awarded top honors in the film industry, including Oscars, Golden Globes, BAFTAs winners, and more..</p>
        </div>
        <div class="col-md-6 order-md-1 col-lg-4 offset-lg-2 text-center align-middle">
            <img [src]="images[3]" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>
        <hr class="featurette-divider">
</section>
<section style="margin-bottom: 4rem;">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" src="../assets/img/award-ceremony.png" width="150" height="150" preserveAspectRatio="xMidYMid slice">
                <h2>Awards</h2>
                <p>Cinematic awards highlight the top movies of the year. Critics' awards, Industry awards - which are a mix of critics, academics, and film professionals - and Audience awards, all of them always celebrate the best of American and International Cinema.</p>
                <p><a class="btn btn-warning" routerLink="/awards" role="button">View &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" src="../assets/img/awards-nomination.png" width="150" height="150" preserveAspectRatio="xMidYMid slice">
                <h2>Categories</h2>
                <p>Awards have been divided into various artistical and technical categories: best picture, acting prizes, directing, screenplay, cinematography, production and costume design, editing, score, song, makeup, sound, visual effects, foreign, animated feature and documentary film.</p>
                <p><a class="btn btn-warning" routerLink="/categories" role="button">View &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" src="../assets/img/reel.jpg" width="150" height="150" preserveAspectRatio="xMidYMid slice">
                <h2>Statistics</h2>
                <p>Some movies have been honored or nominated more than others. In this section we'll see which movies stay ahead and take the lead as films more awarded or nominated. We’ve rounded up the films with up to date and reliable statistics took between all major prizes.</p>
                <p><a class="btn btn-warning" routerLink="/statistics" role="button">View &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div>
    </div> 
</section>