<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div >
        <img [src]="images[0]" class="d-block img-fluid">
        </div>
        <div class="carousel-caption">
        <h1 class="sombra1">Film Awards Season</h1>
        <p class="font-weight-bold sombra1">Film awards season is an annual time period between November and February every year, in the United States, where a majority of important film award events take place.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div >
        <img [src]="images[1]" class="d-block img-fluid">
        </div>
        <div class="carousel-caption">
            <h1 class="sombra2">Film Awards Season</h1>
            <p class="font-weight-bold sombra2">In October ballots are sent out to voters, to collect nominations for the first award ceremonies, which are usually the Hollywood Awards or the independent Gotham Awards, to begin awards season in November.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div >
        <img [src]="images[2]" class="d-block img-fluid">
        </div>
        <div class="carousel-caption">
        <h1 class="sombra3">Film Awards Season</h1>
        <p class="font-weight-bold sombra3">The season usually culminates in the Academy Awards in late February or early March </p>
        </div>
    </ng-template>
</ngb-carousel>
      
