.sticky-footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

::-webkit-input-placeholder {
  font-size: 13px!important;
}

:-moz-placeholder { /* Firefox 18- */
     font-size: 13px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
     font-size: 13px!important;
}

.navbar-nav > li > a.router-link-active {
  color: #555;
  background-color: #e7e7e7;
}

.bg-primary {
  background-color: #003a50 !important;
} 
