<div class="jumbotron jumbotron-fluid bg-warning text-white">
    <div class="container">
        <table>
            <tr>
                <td><img src="../assets/img/statue.png" style="height: 100px;" ></td>
                
                <td><h1 class="display-4 sombra" style="font-weight:bolder;">Awards</h1>
                    <hr class="my-4">
                    <p class="lead">All the film awards of the 2019-2020 Season.</p>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid mb-5 pt-5 trans-back">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5" style="padding-bottom: 3rem;">
        <div class="col mb-4" *ngFor="let award of awards; let i = index">
            <div class="card text-center h-100" >
                <div class="lazy-container" ngxUiLoaderBlurred>
                    <img [src]="award.image" class="card-img-top" [alt]="award.title" (loaded)="imgLoaded(i)">
                    <ngx-ui-loader fgsColor="Goldenrod" [loaderId]="i" fgsType="fading-circle" [hasProgressBar]="false"></ngx-ui-loader>
                </div>
                <div class="card-body ion-text-justify">
                    <h5 class="card-title text-primary">{{ award.title}}</h5>
                    <p class="card-text">{{ award.description }}</p>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/award', award.title]" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
